doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/variables.css')
    link(rel='stylesheet', href='/stylesheets/bootswatch.css')
  body
    .container
      .navbar
        h3.muted.pull-left BitFaucet
        ul.nav.nav-pills.pull-right
          li.active
            a(href='#') Home
          li
            a(href='#') About
          li
            a(href='#') Contact
      hr
      div.content
        .container-narrow
          block content
            div.page-header
              small Welcome to BitFaucet
