/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : 'portal';
@reset      : 'portal';

/* Elements */
@button     : 'portal';
@container  : 'portal';
@divider    : 'portal';
@emoji      : 'portal';
@flag       : 'portal';
@header     : 'portal';
@icon       : 'portal';
@image      : 'portal';
@input      : 'portal';
@label      : 'portal';
@list       : 'portal';
@loader     : 'portal';
@placeholder: 'portal';
@rail       : 'portal';
@reveal     : 'portal';
@segment    : 'portal';
@step       : 'portal';
@text       : 'portal';

/* Collections */
@breadcrumb : 'portal';
@form       : 'portal';
@grid       : 'portal';
@menu       : 'portal';
@message    : 'portal';
@table      : 'portal';

/* Modules */
@accordion  : 'portal';
@calendar   : 'portal';
@checkbox   : 'portal';
@dimmer     : 'portal';
@dropdown   : 'portal';
@embed      : 'portal';
@modal      : 'portal';
@nag        : 'portal';
@popup      : 'portal';
@progress   : 'portal';
@slider     : 'portal';
@rating     : 'portal';
@search     : 'portal';
@shape      : 'portal';
@sidebar    : 'portal';
@sticky     : 'portal';
@tab        : 'portal';
@toast      : 'portal';
@transition : 'portal';

/* Views */
@ad         : 'portal';
@card       : 'portal';
@comment    : 'portal';
@feed       : 'portal';
@item       : 'portal';
@statistic  : 'portal';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder  : 'site';


/*******************************
         Import Theme
*******************************/

@import (multiple) "theme.less";

/* End Config */
